# Игнорировать виртуальное окружение
.idea/
.venv/
venv/
env/
videos/
cookies/
# Игнорировать файлы с чувствительными данными
.env
config.py
secrets.py
*.key
*.pem

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи
logs/
*.log

# Игнорировать скачанные файлы (например, видео или аудио)
downloads/
media/

# Игнорировать файлы базы данных (если используется SQLite)
*.db
*.sqlite3


# Игнорировать файлы зависимостей (если используются)
*.egg-info/
dist/
build/